@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clash";
  src: url("./assets//fonts/ClashGrotesk-Variable.ttf") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Clash";
  src: url("./assets/fonts/ClashGrotesk-Regular.ttf") format("truetype");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}
@font-face {
  font-family: "Clash";
  src: url("./assets/fonts/ClashGrotesk-Medium.ttf") format("truetype");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: "Clash";
  src: url("./assets/fonts/ClashGrotesk-Regular.ttf") format("truetype");
  font-weight: 600; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: "Clash";
  src: url("./assets/fonts/ClashGrotesk-Bold.ttf") format("truetype");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: "Clash";
  src: url("./assets/fonts/ClashGrotesk-Bold.ttf") format("truetype");
  font-weight: 800; /* Bold weight */
  font-style: normal;
}

body {
  font-family: "Clash", sans-serif;
}
